@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* *=========== Green theme =========== */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 181 93% 27%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 181 93% 27%;
    --radius: 0.5rem;

    --brand: 181 93% 27%;
    --brand-50: 2 90% 30%;
    --brand-100: 181 49% 67%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 0 0% 95%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 181 49% 67%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 215 27.9% 9%;
    --input: 240 3.7% 15.9%;
    --ring: 181 49% 67%;
  }
}

/* *=========== Fonts =========== */
@layer base {
  /* .inter-<uniquifier > {
    font-family: 'Inter', serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

  .inter-regular {
    font-family: 'Inter', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply inter-regular bg-background text-foreground;
  }

  .text-gradient {
    @apply bg-gradient-to-b from-brand/50 to-brand bg-clip-text text-transparent dark:from-brand-100/50 dark:to-brand-100;
  }

  .max-container {
    @apply mx-auto max-w-[1500px] px-4 sm:px-6 md:px-12 lg:px-16 2xl:px-0;
  }
}
